@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

.main{
    width: 700px;
    border-radius: 15px;
    
    background-color: #01579b;
}

.header{
    background-color: hsl(215, 73%, 78%);
    color: whitesmoke;
    padding: 10px;
    font-size: 28px;
    border-radius: 15px;
    font-family: 'Recursive', sans-serif;
}



.details{
    padding: 2rem;
    text-align: center;
    animation: horizontalFlipIn 1s;
    border-radius: 3px;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
  }

  